
# Cloudinary Configuration for Direct Unsigned Upload
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dmrkirvua
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=user_profile_pic
BACKEND_URL=http://localhost:1337/api
NEXT_PUBLIC_BACKEND_URL=http://localhost:1337/api